* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

header{
    max-height: 400px;
    background: url(index_bg.jpg) center center ;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
    }

.h1{
    text-align: center;
    font-size: 72px;
    font-size: 60px;
    font-weight: 700;
    font-family: ubuntu;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 40px;
    }
    
.span{
        display: inline-block;
        padding: 0.2em 0.7em;
        border: white solid 10px;
}


.tag{
    @extend %small-bold;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1;
    font-family: ubuntu;
}    

.about-me{
    @extend %small-bold;
    text-transform: uppercase;
    font-family: ubuntu;
    color: burlywood;
    padding: 40px 0 30px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.face-image{
   display: flex;
   margin: 0 auto;
   max-width: 180px;
   align-items: center;
   justify-content: center;
    
}

#p01{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 40px;
    line-height: 30px;
    font-family: ubuntu;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #808080;
    display: block;
}

@media screen and (max-width: 600px){
    
    .h1{
    
    font-size: 9.5vw;
    }
}








 













