.header{
    height: 450px;
    background: url(index_bg.jpg) center center ;
    background-size: cover;
    margin: -10px;
    }

.h1{
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    font-family: ubuntu;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px;
    }
    
.span{
        display: inline-block;
        padding: 0.2em 0.5em;
        border: white solid 10px;
    }

.tag{
    @extend %small-bold;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1;
    font-family: ubuntu;
    }    






