* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

header{
    max-height: 400px;
    background: url(index_bg.jpg) center center ;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
    }

.h1{
    text-align: center;
    font-size: 72px;
    font-size: 60px;
    font-weight: 700;
    font-family: Fira Sans Condensed;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 40px;
    }
    
.span{
        display: inline-block;
        padding: 0.2em 0.6em;
        border: white solid 10px;
}


.tag{
    @extend %small-bold;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1;
    font-family: ubuntu;
}    

.about-me{
    text-transform: uppercase;
    font-family: ubuntu;
    color: #ce954b;
    padding: 40px 0 30px;
    text-align: center;
    font-size: 20px;
}

.face-image{
   display: flex;
   margin: 0 auto;
   max-width: 180px;
   align-items: center;
   justify-content: center;
    
}

#p01{
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 40px;
    line-height: 30px;
    font-family: ubuntu;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #808080;
    display: block;
}

.skill-lockup{

    max-width: 540px;
    margin: 100px auto;
    color: #999;
}
.skill-label{
    font-family: ubuntu;
    font-size: 20px;
}

.skill-unit{
    
    width: 270px;
    float: left;
}

.skill-icon{
    margin-bottom: 30px;
    margin-top: 10px;
    
}

span{
    display: inline-block;
    padding: 0.003px 0.003px;
    background-color:  #d9d9d9;
    margin-right: 7px;
    border-radius: 50%;
    }
span:after{
    content: '';
    display: block;
    padding: 6px;
    border-radius: 50%;
    background: #fff;
    margin: 3px;
}

.skill{
    background: #ce954b;
}

@media screen and (max-width: 700px){
    .skill-lockup{

    max-width: 270px;
    margin: 100px auto;
    color: #999;
}
    
}


@media screen and (max-width: 600px){
    
    .h1{
    
    font-size: 9.5vw;
    }
}





 





